header{ 
    background-color: rgb(75, 67, 67);
    color: white; 
}
body{
    background-color: rgb(20, 1, 105);
    color: white; 
}
.imagem-cabecalho{
    width: 40%;
}
.cabecalho{
    background-image: linear-gradient(rgb(8, 11, 185), rgb(31, 2, 134));
    display: flex;
}
.escola-imagem{
    width: 40%;
}
.estudante-imagem{
    width: 120px;
}
.icone-imagem{
    width: 24px;
}
.estudante-div{
    text-align: center;
}
.estudante-titulo{
    text-align: center;
    padding: 25px 0;
}